/* CSS Document */

body {}
.main{
	background-color:#ffA;
	}
.footer{
	text-align:center;
	font-size:12px;
	display:fixed;
	background-color:#a66bff;
	color:#FFF;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	height:inherit;	
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#a66bff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  color:#1f1f1f;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 6px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.datainput{
	height:inherit;
    width: 87%;
    border-top:thin;
    font-size:20px
    outline: none;
    border-radius: 50px;
    color: #111;
    padding: 0 0 0 100px;
	display:block;
	margin-top:8px;
	padding-top:10px;
	}
.datainput input{
	height:30px;
	border:outset;
	border-color:#fff;
	border-radius:10px 10px 10px 10px;
}
.datacontain h1{
	color:#a66bff;
	text-align:center;
	font-family:Georgia, "Times New Roman", Times, serif;
	height:inherit;
}
.about{
	text-align:center;
	color:#a66bff;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
.about p{
	font-family:Pristina;
	font-size:18px;
	margin-top:0px;
	}
.AboutAnnasevak p{
	font-size:25px;
	font-family:"Baskerville Old Face";
	text-align:justify;
	}
.dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown button {
            background-color:#a66bff;
            color: white;
            border: none;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position:absolute;
            background-color:#BAA4DA;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
			color:#FFC;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown-content label {
            display:flex;
            font-size:14px;
            padding:4px 0;
            cursor: pointer;
			align-items:center;
			margin-left:10px;
        }
        .dropdown-content input[type="checkbox"] {
            margin:0 5px 0 0;
            transform: scale(1.5); /* Scale the checkbox */
        }
	
	
